main {
  background-color: var(--surface-primary);
  padding: 1.5rem;

  & .arrow {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  & h2 {
    margin-bottom: 0.5rem;
  }

  & p {
    margin-bottom: 3rem;
  }
}